.settings/*
bin-debug/*
bin-release/*
html-template/*
obj/*
_source/*
_build/*
out/*
.idea/*
build_archive/*
 
*.actionScriptProperties
*.flexProperties
*.flexLibProperties
*.FlexUnitSettings
*.project

*.flv
*.mp3
*.air
*.svn
*.aiff
*.iml
 
Thumbs.db
*.DS_Store